ul.menu.user-menu {
    background-color: #8dc73f;
}

@media only screen and (min-width: 64em)
 .user-menu {
    display: block;
}

header .user-menu {
    display: none;
    float: right;
    clear: right;
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.pure-g [class*=pure-u], button, html, input, select, textarea {
    color: #959595;
    font-family: "Gotham SSm A","Gotham SSm B";
    font-weight: 400;
}



#menu-reveal {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px 0;
    background: url(../img/icon-menu.png) 50% 50% no-repeat;
    border: none;
    text-indent: -9999rem;
    overflow: hidden;
}

#signin{
    font-size: 50px;
    color: #8dc73f;
}

#signin {
   border-top: 1px solid #8cc73f;
   background: #8cc73f;
   background: -webkit-gradient(linear, left top, left bottom, from(#8cc73f), to(#8cc73f));
   background: -webkit-linear-gradient(top, #8cc73f, #8cc73f);
   background: -moz-linear-gradient(top, #8cc73f, #8cc73f);
   background: -ms-linear-gradient(top, #8cc73f, #8cc73f);
   background: -o-linear-gradient(top, #8cc73f, #8cc73f);
   padding: 14px 25px;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   color: white;
   font-size: 21px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
#signin:hover {
   border-top-color: #8cc73f;
   background: #8cc73f;
   color: #959595;
   }
#signin:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
